<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.topie.zhongkexie.database.task.dao.TaskMapper">
  <resultMap id="BaseResultMap" type="com.topie.zhongkexie.database.task.model.Task">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="paper_id" jdbcType="INTEGER" property="paperId" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="index_id" jdbcType="INTEGER" property="indexId" />
    <result column="task_name" jdbcType="VARCHAR" property="taskName" />
    <result column="task_status" jdbcType="VARCHAR" property="taskStatus" />
    <result column="task_dept" jdbcType="VARCHAR" property="taskDept" />
    <result column="has_child" jdbcType="BIT" property="hasChild" />
    <result column="task_weight" jdbcType="DECIMAL" property="taskWeight" />
    <result column="task_score" jdbcType="DECIMAL" property="taskScore" />
    <result column="task_desc" jdbcType="VARCHAR" property="taskDesc" />
    <result column="task_code" jdbcType="VARCHAR" property="taskCode" />
    <result column="link_dept" jdbcType="VARCHAR" property="linkDept" />
    <result column="task_value" jdbcType="VARCHAR" property="taskValue" />
    <result column="task_cweight" jdbcType="VARCHAR" property="taskCweight" />
    <result column="task_top" jdbcType="BIT" property="taskTop" />
    <result column="task_seq" jdbcType="INTEGER" property="taskSeq" />
  </resultMap>
</mapper>