<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.topie.zhongkexie.database.task.dao.TaskMapper">
  <resultMap id="BaseResultMap" type="com.topie.zhongkexie.database.task.model.Task">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="paper_id" jdbcType="INTEGER" property="paperId" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="index_id" jdbcType="INTEGER" property="indexId" />
    <result column="task_name" jdbcType="VARCHAR" property="taskName" />
    <result column="task_status" jdbcType="VARCHAR" property="taskStatus" />
    <result column="task_dept" jdbcType="VARCHAR" property="taskDept" />
    <result column="has_child" jdbcType="BIT" property="hasChild" />
    <result column="task_weight" jdbcType="DECIMAL" property="taskWeight" />
    <result column="task_score" jdbcType="DECIMAL" property="taskScore" />
    <result column="task_desc" jdbcType="VARCHAR" property="taskDesc" />
    <result column="task_code" jdbcType="VARCHAR" property="taskCode" />
    <result column="link_dept" jdbcType="VARCHAR" property="linkDept" />
    <result column="task_value" jdbcType="VARCHAR" property="taskValue" />
    <result column="task_cweight" jdbcType="VARCHAR" property="taskCweight" />
    <result column="task_check_user" jdbcType="VARCHAR" property="taskCheckUser" />
    <result column="task_seq" jdbcType="INTEGER" property="taskSeq" />
  </resultMap>
  
  <select id="selectByExampleReport" resultMap="BaseResultMap">
  	SELECT DISTINCT t.* 
  	FROM t_task t 
  	LEFT JOIN t_task_report_user u 
  	ON t.id=u.task_id 
  	<where>
	<foreach collection="example.oredCriteria" item="ite" index="ind">
		<foreach collection="ite.criteria" item="item" index="index">
			<if test="item.listValue">
				and ${item.condition} 
				<foreach collection="item.value" item="citem" open="(" close=")" separator=",">
					#{citem}
				</foreach>
			</if>
			<if test="item.singleValue">
				and ${item.condition} #{item.value}
			</if>
		</foreach>
	</foreach>
	<if test="taskDept!=null">
		<!-- and FIND_IN_SET(#{taskDept},task_dept) -->
		and u.user_id = #{taskDept}
	</if>
	</where>
	<if test="example.orderByClause!=null and example.orderByClause!=''">
		ORDER BY ${example.orderByClause}
	</if>
  </select>
  
  <select id="selectByExampleCheck" resultMap="BaseResultMap">
  	SELECT DISTINCT t.* 
  	FROM t_task t 
  	LEFT JOIN t_task_check_user u 
  	ON t.id=u.task_id 
  	<where>
	<foreach collection="example.oredCriteria" item="ite" index="ind">
		<foreach collection="ite.criteria" item="item" index="index">
			<if test="item.listValue">
				and ${item.condition} 
				<foreach collection="item.value" item="citem" open="(" close=")" separator=",">
					#{citem}
				</foreach>
			</if>
			<if test="item.singleValue">
				and ${item.condition} #{item.value}
			</if>
		</foreach>
	</foreach>
	<if test="checkDept!=null">
		<!-- and FIND_IN_SET(#{taskDept},task_dept) -->
		and u.user_id = #{checkDept}
	</if>
	</where>
	<if test="example.orderByClause!=null and example.orderByClause!=''">
		ORDER BY ${example.orderByClause}
	</if>
  </select>
  
  <select id="selectScoreCountsByFilter" resultType="java.util.Map">
  	SELECT u.id,
  	replace(u.login_name,"002","") loginName,
  	u.display_name displayName,
  	ts.paper_id paperId,
  	sum(ts.score) score 
  	
	from t_task_score ts 
	LEFT JOIN d_user u
	ON ts.user_id = u.id 
	<if test="indexId!=null">
		LEFT JOIN t_task t
		ON t.id = ts.task_id
	</if>
	WHERE paper_id =#{paperId} 
	<if test="indexId!=null">
		and t.index_id = #{indexId}
	</if>
	GROUP BY ts.user_id 
	ORDER BY sum(ts.score) desc
  </select>
</mapper>