<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topie.zhongkexie.database.core.dao.ScorePaperUserMapper" >
  <resultMap id="BaseResultMap" type="com.topie.zhongkexie.database.core.model.ScorePaperUser" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="paper_id" property="paperId" jdbcType="INTEGER" />
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="feedback" property="feedback" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="selectByPagerId" resultMap="BaseResultMap">
        select
        * from d_score_paper_user t where t.paper_id = #{pageId,jdbcType=INTEGER}
    </select>
  
</mapper>