<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topie.zhongkexie.database.core.dao.ScoreAnswerMapper" >
  <resultMap id="BaseResultMap" type="com.topie.zhongkexie.database.core.model.ScoreAnswer" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="paper_id" property="paperId" jdbcType="INTEGER" />
    <result column="index_id" property="indexId" jdbcType="INTEGER" />
    <result column="item_id" property="indexId" jdbcType="INTEGER" />
    <result column="item_score" property="itemScore" jdbcType="DECIMAL" />
    <result column="answer_value" property="answerValue" jdbcType="VARCHAR" />
    <result column="answer_file" property="answerFile" jdbcType="VARCHAR" />
    <result column="answer_score" property="answerScore" jdbcType="DECIMAL" />
    <result column="answer_reason" property="answerReason" jdbcType="VARCHAR" />
    <result column="answer_real" property="answerReal" jdbcType="BIT" />
  </resultMap>
  
  <select id="selectRankingInput" resultType="java.lang.Integer">
  	SELECT count(DISTINCT answer_value)+1 count 
  	from d_score_answer 
  	WHERE
 	item_id=#{itemId} and answer_value &lt; ${answer} 
 	ORDER BY answer_value+0 ASC
  </select>
  
  <select id="selectResultTime" resultType="java.util.Map">
  	SELECT u.login_name loginName,u.display_name displayName,an.user_id userId,
	concat((COUNT(an.id)/(
	SELECT count(1) 
	from d_score_item item1 
	LEFT JOIN d_score_index ind1 ON item1.index_id=ind1.id 
	where ind1.paper_id=#{paperId} and item1.score_type!=4)*100),"%") count
	from d_score_item item 
	LEFT JOIN d_score_index ind ON item.index_id = ind.id 
	LEFT JOIN d_score_answer an ON item.id=an.item_id LEFT JOIN d_user u ON an.user_id=u.id 
	WHERE ind.paper_id=#{paperId} GROUP BY an.user_id
	ORDER BY count desc,u.login_name
  </select>
  
  <select id="selectPartIndexScore" resultType="java.util.Map">
  	SELECT user_id ,SUM(answer_score) score ,u.display_name,u.login_name
	from d_score_answer an 
	LEFT JOIN d_user u ON an.user_id = u.id
	LEFT JOIN d_score_index ind ON ind.id=an.index_id
	where ind.paper_id=#{paperId}
	<if test="itemIds!=null">
		and item_id  in
		<foreach collection="itemIds" open="(" close=")" item="itemId" separator=",">
			#{itemId}
		</foreach>
	</if>
	<if test="indexIds!=null">
		and index_id  in
		<foreach collection="indexIds" open="(" close=")" item="indexId" separator=",">
			#{indexId}
		</foreach>
	</if>
	GROUP BY user_id
	ORDER BY login_name asc
  </select>
</mapper>
