<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topie.zhongkexie.database.core.dao.ScoreItemMapper">
    <resultMap id="BaseResultMap" type="com.topie.zhongkexie.database.core.model.ScoreItem">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="index_id" property="indexId" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="score" property="score" jdbcType="DECIMAL"/>
        <result column="weight" property="weight" jdbcType="DECIMAL"/>
        <result column="option_logic_desc" property="optionLogicDesc" jdbcType="VARCHAR" />
        <result column="option_logic" property="optionLogic" jdbcType="VARCHAR" />
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="responsible_department" property="responsibleDepartment" jdbcType="VARCHAR" />
        <result column="related_field" property="relatedField" jdbcType="VARCHAR"/>
        <result column="items" property="items" jdbcType="VARCHAR" />
        <result column="show_level" property="showLevel" jdbcType="INTEGER"/>
        <result column="row" property="row" jdbcType="INTEGER" />
        <result column="placeholder" property="placeholder" jdbcType="VARCHAR" />
        <result column="score_type" property="scoreType" jdbcType="VARCHAR"/>
    </resultMap>
    
    	<select id="selectByExampleEx" resultMap="BaseResultMap">
  	SELECT *
	FROM d_score_item t 
	
	<where>
	<foreach collection="example.oredCriteria" item="ite" index="ind">
		<foreach collection="ite.criteria" item="item" index="index">
			<if test="item.listValue">
				${item.condition} 
				<foreach collection="item.value" item="citem" open="(" close=")" separator=",">
					#{citem}
				</foreach>
			</if>
			<if test="item.singleValue">
				${item.condition} #{item.value}
			</if>
		</foreach>
	</foreach>
	<if test="responsibleDepartment!=null">
		and FIND_IN_SET(#{responsibleDepartment},responsible_department)
	</if>
	</where>
	<if test="example.orderByClause!=null and example.orderByClause!=''">
		ORDER BY ${example.orderByClause}
	</if>
    </select>
</mapper>
