<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topie.zhongkexie.database.core.dao.ScorePaperUserMapper" >
  <resultMap id="BaseResultMap" type="com.topie.zhongkexie.database.core.model.ScorePaperUser" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="paper_id" property="paperId" jdbcType="INTEGER" />
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="score" property="score" jdbcType="DECIMAL" />
    <result column="feedback" property="feedback" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="PagerUserDtoResultMap" type="com.topie.zhongkexie.core.dto.PagerUserDto" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="begin" property="begin" jdbcType="TIMESTAMP" />
    <result column="end" property="end" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="approve_status" property="approveStatus" jdbcType="SMALLINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR"/>
    <result column="score" property="score" jdbcType="DECIMAL" />
    <result column="subjective_score" property="subjectiveScore" jdbcType="DECIMAL" />
    <result column="user_id" property="userId" jdbcType="INTEGER"/>
    <result column="user_status" property="checkStatus" jdbcType="VARCHAR"/>
<!--     <result column="content_json" property="contentJson" jdbcType="LONGVARCHAR" /> -->
  </resultMap>
  <select id="selectByPagerId" resultMap="BaseResultMap">
        select
        * from d_score_paper_user t where t.paper_id = #{pageId,jdbcType=INTEGER}
    </select>
  
  <select id="selectUserCommitPaper" resultMap="PagerUserDtoResultMap">
  	SELECT spu.`status` user_status,de.type,de.code ,spu.score,spu.subjective_score,u.id userId,sp.*,u.display_name user_name ,de.`code`,de.type
  	FROM d_score_paper_user spu 
  	LEFT JOIN d_score_paper sp ON spu.paper_id=sp.id 
	LEFT JOIN d_user u ON spu.user_id = u.id 
	LEFT JOIN d_dept de ON de.`code` = SUBSTR(u.login_name,1,LENGTH(u.login_name)-3)
	<where>
		<if test="paperId!=null">
			and spu.paper_id=#{paperId}
		</if>
		<if test="userName!=null and userName!=''">
			and u.display_name like concat('%',concat(#{userName},'%'))
		</if>
		
		<if test="userId!=null">
			and spu.user_id=#{userId}
		</if>
		<if test="type!=null and type!=''">
			and de.type=#{type}
		</if>
	</where>
	order by spu.score desc
  </select>
  <select id="selectUserPubulicityPaper" resultMap="PagerUserDtoResultMap">
  	SELECT spu.`status` user_status,de.type,de.code ,spu.score,spu.subjective_score,u.id userId,sp.*,u.display_name user_name ,de.`code`,de.type
  	FROM d_score_paper_user spu 
  	LEFT JOIN d_score_paper sp ON spu.paper_id=sp.id 
	LEFT JOIN d_user u ON spu.user_id = u.id 
	LEFT JOIN d_dept de ON de.`code` = SUBSTR(u.login_name,1,LENGTH(u.login_name)-3)
	<where>
		<if test="paperId!=null">
			and spu.paper_id=#{paperId}
		</if>
		<if test="userName!=null and userName!=''">
			and u.display_name like concat('%',concat(#{userName},'%'))
		</if>
		
		<if test="userId!=null">
			and spu.user_id=#{userId}
		</if>
		<if test="type!=null and type!=''">
			and de.type=#{type}
		</if>
	</where>
	order by de.`code` asc
  </select>
  
  <select id="selectExpertUserCommitPaper" resultMap="PagerUserDtoResultMap">
  	SELECT
	spu.`status` user_status,
	spu.score,
	spu.subjective_score,
	u.id userId,
	u.display_name user_name,
	sp.id,sp.title,sp.content_json,sp.begin,sp.end,sp.create_time,sp.status,sp.score score2,du.status approve_status
	FROM
		d_score_paper_user spu
	LEFT JOIN d_score_paper sp ON spu.paper_id = sp.id
	LEFT JOIN e_expert_dept_user du ON du.dept_user_id = spu.user_id
	LEFT JOIN d_user u ON spu.user_id = u.id
	<where>
		<if test="paperId!=null">
			and spu.paper_id=#{paperId}
			and du.paper_id = #{paperId}
		</if>
		<if test="userId!=null">
			and du.expert_user_id=#{userId}
		</if>
	</where>
  </select>
</mapper>