<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topie.zhongkexie.database.expert.dao.ExpertDeptUserMapper" >
  <resultMap id="BaseResultMap" type="com.topie.zhongkexie.database.expert.model.ExpertDeptUser" >
    <!--
      WARNING - @mbggenerated
    -->
    <result column="paper_id" property="paperId" jdbcType="INTEGER" />
    <result column="expert_id" property="expertId" jdbcType="INTEGER" />
    <result column="expert_user_id" property="expertUserId" jdbcType="INTEGER" />
    <result column="dept_user_id" property="deptUserId" jdbcType="INTEGER" />
    <result column="index_coll_id" property="indexCollId" jdbcType="INTEGER" />
    <result column="index_coll_expert_id" property="indexCollExpertId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="countExpertFinish" resultType="java.util.Map">
  	SELECT
  	e.user_id expertId,
	e.real_name expertName,
	sum(
		CASE WHEN u.`STATUS` = 0 OR u.`STATUS` IS NULL THEN 1 ELSE 0 END
	) commited,
	sum(
		CASE WHEN u.`STATUS` = 1 THEN 1 ELSE 0 END
	) finished
FROM
	d_score_paper_user p
LEFT JOIN e_expert_dept_user u ON p.user_id = u.dept_user_id
AND p.paper_id = u.paper_id
LEFT JOIN e_expert_info e ON u.expert_id = e.id
WHERE
	p.paper_id = #{paperId}
	AND p.`status` = 2
	<if test="expertId!=null">
		and e.user_id = #{expertId}
	</if>
	<if test="expertName!=null and expertName!=''">
		and e.real_name = #{expertName}
	</if>
GROUP BY
	expert_user_id
  	
  </select>
  
  <select id="selectExportItemMap" resultType="java.util.Map">
  	SELECT ic.id indexCollExpertId,ic.related_field,i.user_id,i.real_name,item.*
	from d_score_item item 
	LEFT JOIN d_score_index t
	ON item.index_id = t.id
	LEFT JOIN d_score_index_collection c
	on FIND_IN_SET(t.id,c.index_collection)
	LEFT JOIN e_index_coll_expert ic
	ON ic.related_field = c.related_field
	LEFT JOIN e_expert_info i
	ON FIND_IN_SET(i.id,ic.expert_ids)
	where c.paper_id=#{paperId}
	and item.score_type=3
	and ic.paper_id=#{paperId}
	<if test="userId!=null">
		and i.user_id = #{userId}
	</if>
	ORDER BY ic.related_field,i.real_name,item.id  	
  </select>
  
  <select id="selectNotFinishedDept" resultType="java.util.Map">
  	SELECT u.id userId,replace(u.login_name,'002','') login_name,u.display_name  from
	`d_score_paper_user` spu
	LEFT JOIN d_user u 
	ON spu.user_id = u.id 
	LEFT JOIN (SELECT u.id,u.display_name from d_user u
			LEFT JOIN e_pxpert_item_score s
			ON u.id=s.org_user_id
			where
			s.expert_user_id=#{expertUserId}
			and s.item_id=#{itemId}
			and s.paper_id=#{paperId}
			) t
	ON t.id = u.id
	WHERE 
	 spu.paper_id=#{paperId}
	and spu.`status`=2
	and t.display_name is null
  </select>
  <select id="selectFinishedDept" resultType="java.util.Map">
  	SELECT u.id userId,replace(u.login_name,'002','') login_name,u.display_name  from d_user u
	LEFT JOIN e_pxpert_item_score s
	ON u.id=s.org_user_id
	where
	s.expert_user_id=#{expertUserId}
	and s.item_id=#{itemId}
	and s.paper_id=#{paperId}
			
  </select>
  
  <update id="updateExpertUserIncludeStatus">
  	UPDATE `e_expert_dept_user` SET 
  	 `status`=#{status}
  	  WHERE `paper_id`=#{paperId}
  	  AND `expert_user_id`=#{expertUserId} 
  	  <!-- AND index_coll_expert_id=#{indexCollExpertId} -->
  	  <if test="orgUserIds!=null">
	  	  AND `dept_user_id` in 
	  	  <foreach collection="orgUserIds" open="(" close=")" index="index" separator="," item="item">
	  	  	#{item}
	  	  </foreach>
  	  </if>
  	
  </update>
  
  <update id="updateExpertUserExcludeStatus">
  	UPDATE `e_expert_dept_user` SET 
  	 `status`=#{status}
  	  WHERE `paper_id`=#{paperId}
  	  AND `expert_user_id`=#{expertUserId} 
  	  <!-- AND index_coll_expert_id=#{indexCollExpertId} -->
  	  <if test="orgUserIds!=null">
	  	  AND `dept_user_id` not in 
	  	  <foreach collection="orgUserIds" open="(" close=")" index="index" separator="," item="item">
	  	  	#{item}
	  	  </foreach>
  	  </if>
  	
  </update>
</mapper>